@import "../../../styles//core//mixin";

.main-wrapper {
    position: relative;
    height: 100vh;
    z-index: 1;
    @include make-container(24px);
    padding-top: 12px;
    overflow: hidden;
    .overlay {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ffffffa6;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        backdrop-filter: blur(10px);
    }
    .navbar {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        @include md {
            justify-content: end;
        }
        .user {
            display: flex;
            align-items: center;
            gap: 6px;
            p {
                margin-bottom: 0;
            }
            .logout {
                min-width: 110px;
                display: flex;
                flex-direction: row-reverse;
                gap: 12px;
                --mdc-fab-container-shape: 12px;
              
            }
        }
    }
    .content {
        padding: 24px 0;
        height: calc(100vh - 12px);
        padding-bottom: 0;
        background-color: #F2F6F9;
        @include md {
            padding: 24px;
        }
        .buttons {
            display: flex;
            gap: 6px;
            .rows {
                .selected {
                    &::ng-deep {
                        .mat-mdc-button-persistent-ripple {
                            background-color: #ffffffa6;
                        }
                    }
                }
            }
            .boxes {
                .selected {
                    &::ng-deep {
                        .mat-mdc-button-persistent-ripple {
                            background-color: #ffffffa6;
                        }
                    }              
                }
            }
            .add {
                .selected {
                    
                }
            }
        }
        .top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;
            align-items: center;
            h2 {
                margin-bottom: 0;
            }
        }
        .search {
            margin-bottom: 24px;
        }
    }
    .drawer {
        height: 100%;
    }
}