/* You can add global styles to this file, and also import other style files */
@import "./styles/core//mixin";


html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: "Helvetica Neue", sans-serif;
    background-color: #F2F6F9;
 }

.shadow {
    box-shadow: $shadow;
}

p {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0;
}
* {
    line-height: 1.1;
    box-sizing: border-box;
    margin: 0;
}
.mat-mdc-raised-button.mat-warn {
    --mdc-protected-button-container-color: transparent;
    --mdc-protected-button-label-text-color: #707070;
    --mat-protected-button-state-layer-color: #fff;
    --mat-protected-button-ripple-color: rgba(255, 255, 255, 0.1);
    border: solid 1px #707070;
}
.mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-container-color: #2BAE6D;
    --mdc-protected-button-label-text-color: #fff;
    --mat-protected-button-state-layer-color: #fff;
    --mat-protected-button-ripple-color: rgba(255, 255, 255, 0.1);
}
html .mat-mdc-mini-fab.mat-primary {
    --mdc-fab-container-color: transparent;
    --mat-fab-foreground-color: #0E4F6E;
    --mat-fab-state-layer-color: #0E4F6E;
    --mat-fab-ripple-color: rgba(255, 255, 255, 0.1);
    box-shadow: none !important;
    &.selected {
        --mat-fab-foreground-color: #007AF9;
    }
}
.material-icons {
    font-weight: bold;
}
